.SMN_effect a:after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0.5px;
  background: #c9c9c9;
  content: "";
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

.SMN_effect a:hover:after,
.SMN_effect a:focus:after {
  height: 5px;
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

.menu a {
  /* padding: 15px 25px; */
  /**/
  position: relative;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover,
a:focus {
  outline: none;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
