.backback {
  padding-top: 1.75rem /* 28px */;
  padding-bottom: 1.75rem /* 28px */;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* 흰 배경 부분 */
.whole {
  width: 80%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  margin: auto;
  margin-top: 20px;
  min-height: 800px;
}

/* 전체 화면 영역 */
.page {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* 사이드바 영역 */
.section_left {
  /* background-color: rgba(255, 255, 255, 0.9); */
  /* background-color: white; */
  /* border-radius: 20px; */
  width: 22%;
  box-shadow: 2px 0px 5px -2px rgb(19, 18, 18);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e9e9e9;
  border-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  min-height: 800px;
}

.menu_items {
  width: 15%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 사이드바 메뉴 */
.menu {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  text-decoration: none;
  /* color: black; */
  font-size: large;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  animation: navbarBottom 1s forwards;
  font-weight: bolder;
  padding: 8px;
}

.menu:hover {
  background-color: rgba(196, 174, 166, 0.1);
}

.menu_M {
  display: flex;
  justify-content: center;
  width: 95%;
  border-radius: 10px;
  text-decoration: none;
  /* color: black; */
  font-size: x-large;
  animation: navbarBottom 1s forwards;
  font-weight: 600;
}

.menu_M:hover,
menu:hover {
  background-color: rgb(235, 207, 196, 0.2);
}

.menu_M:last-child,
menu:last-child {
  margin-right: 0;
}

.menu_M::before,
menu::before {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: #f14e4e91;
  transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
}

.menu_M:hover::before,
menu:hover::before {
  width: 100%;
  left: 0;
}

@keyframes navbarBottom {
  0% {
    transform: translateY(-70%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* 네브바와 메인 페이지를 포함하는 영역 */
.section_right {
  /* position: absolute; */
  right: 0;
  /* background-color: white; */
  width: 78%;
  height: 100%;
  /* margin-right: 5%; */
}

.section_right_M {
  position: relative;
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 네브바 */
.nav {
  position: fixed;
  width: auto;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 10px;
  right: 10%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  border-radius: 20px;
  border: 4px solid rgb(255, 255, 255);
  z-index: 2;
  box-shadow: 1px 1px 5px 1px gainsboro;
}

.nav_M {
  position: fixed;
  width: 70%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  border: 4px solid rgb(255, 255, 255);
  z-index: 2;
  box-shadow: 1px 1px 5px 1px gainsboro;
}

.nav_dark {
  position: fixed;
  width: 74%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.9);
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  border: 4px solid rgb(255, 255, 255);
  z-index: 2;
  box-shadow: 1px 1px 5px 1px gainsboro;
}

/* 메인 페이지 영역 */
.body {
  margin-top: 60px;
  width: 100%;
  height: 100%;
}

.body_M {
  margin-top: 60px;
  width: 100%;
  height: 100%;
}

/* 네브바 오른쪽 영역 */
.nav_right {
  display: flex;
  justify-items: end;
  align-items: center;
}

.nav_right_M {
  display: flex;
  flex-direction: row;
  justify-items: end;
  align-items: center;
}

/* 사용자 프로필 버튼 */
.user_image {
  border-radius: 50%;
  border: 3px solid white;
  height: 50px;
  width: 50px;
  background-image: url("/image/liveImage.png");
  background-size: cover;
  background-position: center;
  margin-right: 30px;
}

.user_image:hover {
  animation-name: shake;
  animation-duration: 1s;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* --------------------------------------- */

/* 친구창 사이드바 */
.friends_click {
  z-index: 3;
  height: 300px;
  width: 300px;
}

/* 일렉트론 스타일 */

.electron_page {
  margin-top: 60px;
}
