.container {
  display: flex;
  /* margin-top: 10px;
  height: 100%; */
}

.nav {
  width: 100%;
  height: 100px;
  margin-left: 21%;
  margin-right: 5%;
  background-color: white;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid gainsboro;
  z-index: 2;
}

.side {
  width: 250px;
  height: 100%;
  background-color: white;
  position: fixed;
  box-shadow: 1px 5px 5px 1px gainsboro;
}

.body {
  border-radius: 20px;
  border: 1px solid gainsboro;
  width: 74%;
  height: 100%;
  margin-left: 21%;
  margin-right: 5%;
  background-color: gray;
  margin-top: 10px;
  z-index: 1;
}

.page {
  display: flex;
  height: 100%;
}

.section_left {
  width: 250px;
  height: 100%;
  border: 1px solid gainsboro;
  background-color: blue;
}

.section_right {
  border: 1px solid gainsboro;
  background-color: red;
}
