/* 친구 버튼 */
.friends_image {
  height: 35px;
  width: 35px;
  background-image: url("/image/friendsOff.png");
  background-size: cover;
  background-position: center;
  margin-right: 30px;
}

.friends_image:hover {
  background-image: url("/image/friendsOn.png");
  animation-name: shake;
  animation-duration: 1s;
}

.search_image {
  height: 35px;
  width: 35px;
  background-image: url("/image/search.png");
  background-size: cover;
  background-position: center;
  margin-right: 30px;
}

.search_image:hover {
  background-image: url("/image/search.png");
  animation-name: shake;
  animation-duration: 1s;
}

/* 친구 목록 스크롤바 */
.scrollbar {
  margin-top: 0;
  padding-top: 0;
  padding-left: 10px;
  width: 100%;
  height: 650px;
  overflow-y: scroll; /*  */
}

/* 스크롤바의 폭 너비 */
.scrollbar::-webkit-scrollbar {
  width: 10px;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
