.innerText {
  font-size: 10px;
  /* font-weight: bold; */
  color: #ffffff;
  margin: auto 0;
}

.aliasTag {
  z-index: 1;
  width: 120px;
  /* height: 25.43px; */
  height: 20px;
  border-radius: 5px;
  background-image: linear-gradient(
    90deg,
    rgba(179, 171, 165, 1) 0%,
    rgba(176, 169, 163, 1) 7%,
    rgba(255, 255, 255, 1) 8%,
    rgba(218, 209, 204, 1) 31%,
    rgba(158, 150, 144, 1) 34%,
    rgba(122, 117, 106, 1) 66%,
    rgba(154, 145, 135, 1) 74%,
    rgba(163, 155, 144, 1) 91%,
    rgba(117, 111, 103, 1) 100%
  );
  background-position: center center;
}

.aliasTagSide {
  z-index: 2;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-image: linear-gradient(
    90deg,
    rgba(179, 171, 165, 1) 0%,
    rgba(176, 169, 163, 1) 7%,
    rgba(255, 255, 255, 1) 8%,
    rgba(218, 209, 204, 1) 31%,
    rgba(158, 150, 144, 1) 34%,
    rgba(122, 117, 106, 1) 66%,
    rgba(154, 145, 135, 1) 74%,
    rgba(163, 155, 144, 1) 91%,
    rgba(117, 111, 103, 1) 100%
  );
  background-position: center center;
  margin: auto 0;
}
